# find zng files in zed_processed_directory and output path to temp file.
find {{ zed_processed_directory }} -type f -mmin 1 -name "*.zng" > /tmp/zed_processed_files.txt

# read temp file line by line and process each file. Then move file to zed_loaded_directory
xargs -a /tmp/zed_processed_files.txt -I {} zed load -use pcap {} && \
xargs -a /tmp/zed_processed_files.txt -I {} mv -v {} {{ zed_loaded_directory }}

# remove temp file
rm /tmp/zed_processed_files.txt