#!/bin/bash
# find zng files in zed_processed_directory and output path to temp file.
TEMPFILE=$(mktemp)
find {{ zed_processing_directory }} -type f -mmin +1 -name "*.zng" > $TEMPFILE

for zng_file in $(cat $TEMPFILE); do
    zed load -use {{ zed_pool }} $zng_file
    mv -v $zng_file {{ zed_loaded_directory }}
done

rm -v $TEMPFILE
echo $(date) "Zed Processed Files Loaded to {{ zed_pool }}"